{% extends "base.html.twig" %}
{% block title %}OpenID Tech Demo{% endblock %}
{% block container %}
    <section>
        <h1>Working on OpenID</h1>

        <p>
            This page is the starting point for my tech work with Open ID and QBO.
        </p>

        <div class="row">
            <div class="col-md-3 text-center">
                <a href="/sendopenidrequest?connectWithIntuitOpenId"> <img src="img/Sign_in_white_btn_med_default.png"></a>
            </div>
        </div>
    </section>

{% endblock %}